.category {
  display: flex;
  .categoryContainer {
    flex: 6;
    .btn__category {
      display: flex;
      gap: 10px;
      margin-bottom: 20px;
      button {
        padding: 7px 20px;
        background: transparent;
        border: 1px solid #c21010;
        font-size: 16px;
        font-weight: bold;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        &:hover {
          background-color: #c21010;
          color: white;
        }
      }
    }
    .list__img__category {
        box-shadow: 4px 0px 14px 2px rgba(0, 0, 0, 0.21);
        -webkit-box-shadow: 4px 0px 14px 2px rgba(0, 0, 0, 0.21);
        -moz-box-shadow: 4px 0px 14px 2px rgba(0, 0, 0, 0.21);
      div {
        padding: 10px;
        // border: 1px solid;
        img {
          width: 100%;
          height: auto;
        }
        .green_st {
          border: 1px solid teal;
          padding: 1px 10px;
          color: teal;
        }
        .red_st {
          border: 1px solid #c21010;
          padding: 1px 10px;
          color: #c21010;
        }
      }
    }
  }
}
