.productView {
  display: flex;
  .productViewContainer {
    flex: 6;
    .productViewMain {
      padding: 20px;
      .viewMain {
        display: flex;
        .left {
          flex: 1;
          display: flex;
          justify-content: center;
          box-shadow: 0px 2px 27px 5px rgba(0, 0, 0, 0.16);
          -webkit-box-shadow: 0px 2px 27px 5px rgba(0, 0, 0, 0.16);
          -moz-box-shadow: 0px 2px 27px 5px rgba(0, 0, 0, 0.16);
          img {
            width: 100%;
            height: 400px;
            object-fit: cover;
          }
        }
        .right {
          flex: 1.4;
          width: 100%;
          padding: 40px 40px 40px 60px;
          margin: 0 auto;
          box-shadow: 0px 2px 27px 5px rgba(0, 0, 0, 0.16);
          -webkit-box-shadow: 0px 2px 27px 5px rgba(0, 0, 0, 0.16);
          -moz-box-shadow: 0px 2px 27px 5px rgba(0, 0, 0, 0.16);
          h1 {
            font-size: 40px;
            margin-bottom: 10px;
            color:#C21010
          }
          h4 {
            margin-bottom: 10px;
          }
          h2 {
            margin-bottom: 10px;
          }
          p {
            margin-bottom: 20px;
            width: 80%;
          }
          .ul2 {
            li {
              .show__size{
                display: grid;
                grid-template-columns: 1fr 1fr ;
                gap:10px 10px ;
                .show__size__item{
                  border: 1px solid #1C6758;
                  padding: 5px 15px;
                  cursor: pointer;
                  text-align: center;
                  margin-right: 0 !important;
                }
              }
              .status__state{
                border: 1px solid #C21010;
                padding: 0   20px;
                font-weight: bold;
              }
              margin-bottom: 10px;
              list-style: none;
              display: flex;
              width: 100%;
              .shareIcon{
                cursor: pointer;
                display: flex;
                gap: 16px;
                li{
                  &:nth-child(1){
                    color: #0f92f3;
                  }
                  &:nth-child(2){
                    color: #0f92f3;
                  }
                  
                  &:nth-child(4){
                    color: #df0428;
                  }
                }
              }
              div {
                width: 100px;
                margin-right: 40px;
                font-weight: bold;
              }
              span {
                display: inline-block;
              }
            }
          }
        }
      }
    }
  }
}
